# Q1. Ans

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database.

Data within the most common types of databases in operation today is typically modeled in rows and columns in a series of tables to make processing and data querying efficient. The data can then be easily accessed, managed, modified, updated, controlled, and organized. Most databases use structured query language (SQL) for writing and querying data.

The Main Differences: 

1. Type – 

SQL databases are primarily called as Relational Databases (RDBMS); whereas NoSQL database are primarily called as non-relational or distributed database. 

2. Language –

SQL databases defines and manipulates data based structured query language (SQL). Seeing from a side this language is extremely powerful. SQL is one of the most versatile and widely-used options available which makes it a safe choice especially for great complex queries.

A NoSQL database has dynamic schema for unstructured data. Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based or organized as a KeyValue store.

3. Scalability – 

In almost all situations SQL databases are vertically scalable. This means that you can increase the load on a single server by increasing things like RAM, CPU or SSD. But on the other hand 

NoSQL databases are horizontally scalable. This means that you handle more traffic by sharding, or adding more servers in your NoSQL database.

4. Structure – 
SQL databases are table-based, This makes relational SQL databases a better option for applications that require multi-row transactions such as an accounting system or for legacy systems that were built for a relational structure.

On the other hand NoSQL databases are either key-value pairs, document-based, graph databases or wide-column stores. 

5. Property followed – 
SQL databases follow ACID properties (Atomicity, Consistency, Isolation and Durability) 

Whereas the NoSQL database follows the Brewers CAP theorem (Consistency, Availability and Partition tolerance). 

6. Support – 
Great support is available for all SQL database from their vendors. Also a lot of independent consultations are there who can help you with SQL database for a very large scale deployments.

But for some NoSQL database you still have to rely on community support and only limited outside experts are available for setting up and deploying your large scale NoSQL deployments.

# Q2. Ans

Data Definition Language (DDL) is a subset of SQL. It is a language for describing data and its relationships in a database. You can generate DDL in a script for database objects to: Keep a snapshot of the database structure. Set up a test system where the database acts like the production system but contains no data.

CREATE TABLE

The CREATE TABLE command creates a new table in the database.

The following SQL creates a table called "Persons" that contains five columns: PersonID, LastName, FirstName, Address, and City:

In [ ]:
CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

ALTER TABLE

The ALTER TABLE command adds, deletes, or modifies columns in a table.

The ALTER TABLE command also adds and deletes various constraints in a table.

The following SQL adds an "Email" column to the "Customers" table:

In [ ]:
ALTER TABLE Customers
ADD Email varchar(255);

DROP TABLE

The DROP TABLE command deletes a table in the database.

The following SQL deletes the table "Shippers":

In [ ]:
DROP TABLE Shippers;

TRUNCATE TABLE

The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.

The following SQL truncates the table "Categories":

In [ ]:
TRUNCATE TABLE Categories;

# Q3. Ans

A DML (data manipulation language) refers to a computer programming language that allows you to add (insert), delete (delete), and alter (update) data in a database. A DML is typically a sublanguage of a larger database language like SQL, with the DML containing some of the language's operators.

INSERT

INSERT is your go-to for adding single or multiple rows to a table. INSERT can also help with adding rows from one table into another table.

Ex:

In [ ]:
INSERT INTO tableName
(column1, column2, ...)
VALUES (value1, value2, ...)

UPDATE

The SQL UPDATE statement is another common task used by data engineers and database administrators. Use it to change a column value for one or multiple rows.

Ex:

In [ ]:
UPDATE tableName
SET column1=value1, column2=value2,...
WHERE filterColumn=filterValue

DELETE

DELETE removes one or multiple rows from a table, but be careful! You need to make sure you know what you're deleting before you go ahead and commit to the statement!

Ex:

In [ ]:
DELETE tableName
WHERE  filterColumn=filterValue;

# Q4. Ans

Query languages, often known as DQLs or Data Query Languages, are computer languages that are used to make various queries in information systems and databases.

Select command is used to fetch the data in a set of records from a table, view or a group of tables, views by making use of SQL joins. The simplest example of a select statement where in a user wants to, retrieve all the records of a table, can be performed by using '*'.

In [ ]:
Step 1

create table student(name char(30), regno number(10), branch char(20), age char(10))

Step 2

insert into student values(‘hari’,100,’CSE’, 15);

Step 3

insert into student values(‘pinky’,101,’CSE’,17);

Step 4

insert into student values(‘bob’,102,’CSE’,14);

Step 5

insert into student values(‘bhanu’,103,’CSE’,18);

Step 6

SELECT * FROM student where age>15 and age<20;
(OR)
SELECT * FROM student where age between 15 and 20;

# The output is as follows −

Name	Regno	Branch	Age
Pinky	101	     CSE	17
Bhanu	103	     CSE	18

# Q5. Ans

A primary key generally focuses on the uniqueness of the table. It is a column or a set of columns that uniquely distinguishes every row in the database. It means it should not have any duplicate value. Also, it doesn’t contain a NULL value

A foreign key is generally used to build a relationship between the two tables. The major purpose of the foreign key is to sustain data integrity between two separate instances of an entity.

# Q6. Ans

In [2]:
import Mysql.connector

# Establishing a connection
connection = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Creating a cursor object
cursor = connection.cursor()

# Executing SQL queries
cursor.execute("SELECT * FROM your_table")
result = cursor.fetchall()

# Fetching and printing the data
for row in result:
    print(row)

# Closing the cursor and connection
cursor.close()
connection.close()

ModuleNotFoundError: No module named 'Mysql'

The cursor() method creates a cursor object that allows you to execute SQL queries and fetch results from the database.

The execute() method is called on the cursor object and is used to execute SQL queries. It takes the SQL query as a string parameter and sends the query to the MySQL server for execution.

# Q7. Ans

Order	Clause	Function
1	FROM	    Tables are joined to get the base data.
2	WHERE	    The base data is filtered.
3	GROUP BY	The filtered base data is grouped.
4	HAVING	    The grouped base data is filtered.
5	SELECT	    The final data is returned.
6	ORDER BY	The final data is sorted.
7	LIMIT	    The returned data is limited to row count.