# Q1 Ans

In [ ]:

# For loop using condition
#1. The initialization, condition checking, and the iteration statements are written at the beginning of the loop.

#2. It is used only when the number of iterations is known beforehand.

#3. If the condition is not mentioned in the 'for' loop, then the loop iterates infinite number of times.

#4.The initialization is done only once, and it is never repeated.

#5.The iteration statement is written at the beginning.

#6. Hence, it executes once all statements in loop have been executed.

# ex. for(initialization; condition; iteration){
   //body of the 'for' loop
}

# While loop using condition
#1. The initialization and the condition checking is done at the beginning of the loop.

#2. It is used only when the number of iterations isnâ€™t known.

#3. If the condition is not mentioned in the 'while' loop, it results in a compilation error.

#4.If the initialization is done when the condition is being checked, then initialization occurs every time the loop is iterated through.

#5. The iteration statement can be written within any point inside the loop.

# Ex. while ( condition) {
   statements;
   //body of the loop
}

# Q2 Ans

In [1]:
# For loop
s=0
for i in range(11):
   s=s+i
print ("sum of first 10 natural numbers",s)

sum of first 10 natural numbers 55

In [2]:
#While loop
s,i=0,0
n=10
while i<n:
   i=i+1
   s=s+i
print ("sum of first 10 natural numbers",s)

sum of first 10 natural numbers 55

# Q3 Ans.

In [3]:
units = int(input(" Please enter Number of Units you Consumed : "))

if(units < 100):
    amount = units * 4.5
    
elif(units <= 101):
    amount = 450 + ((units - 100) * 6)
    
elif(units <= 201):
    amount = 450+ 600 + ((units - 200) *10)
    
else:
    amount = 450+ 600 + 1000+ ((units - 300) *20)
    

total = amount 
print("Electricity Bill = %.2f"  %total)

 Please enter Number of Units you Consumed : 310
Electricity Bill = 2250.00

# Q4 Ans.

In [4]:
l=range(1,101,1)
l1=[]
for i in l:
    l1.append(i**3)

In [5]:
l1

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [6]:
[i for i in l if i %4==0]

[4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96,
 100]

In [7]:
[i for i in l if i %5==0]

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [8]:
a=1
while a<=100:
    print(a**3)
    a=a+1

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000

# Q 5 Ans.

In [15]:
def countVowels(string):
    string = string.casefold()
    count = {x:sum([1 for char in string if char == x]) for x in 'aeiou'}
    print(count)
string = "I want to become a data scientist"
countVowels(string)

{'a': 4, 'e': 3, 'i': 3, 'o': 2, 'u': 0}