# Q1. Ans

In [1]:
import pandas as pd

# Create the Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Ans

In [3]:
import pandas as pd

# Create a list variable with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list to a Pandas Series
series = pd.Series(my_list)

# Print the series
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Q3. Ans

In [4]:
import pandas as pd

# Create a dictionary with the data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Create the DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. Ans

In Pandas, a DataFrame is a two-dimensional labeled data structure that can store data of different types (numeric, string, boolean, etc.). It is similar to a table or a spreadsheet, where data is organized in rows and columns. Each column in a DataFrame is represented as a Pandas Series.

A Pandas Series, on the other hand, is a one-dimensional labeled array that can store data of a single data type. It is similar to a column in a table or a single column from a spreadsheet.

Here's an example to illustrate the difference between a DataFrame and a Series:

In this example, we start by creating a dictionary data with three keys ('Name', 'Age', 'Gender') and their corresponding values.

We then create a DataFrame df using the pd.DataFrame() function by passing the data dictionary as a parameter. The DataFrame has three columns ('Name', 'Age', 'Gender') with the provided values.

Next, we create a Series age_series by extracting the 'Age' column from the DataFrame using df['Age']. The age_series represents a one-dimensional labeled array containing the ages.

When we print the DataFrame df, it displays the entire DataFrame with all columns and rows.

When we print the Series age_series, it displays only the 'Age' column with the corresponding values. Note that it also shows the index, which is the default index of the DataFrame.

To summarize, a DataFrame in Pandas represents a two-dimensional data structure with rows and columns, while a Series represents a one-dimensional data structure representing a single column from a DataFrame. DataFrame can store and manipulate multiple columns and rows of data, while Series represents a single column with its corresponding values.

In [6]:
import pandas as pd

# Create a dictionary with the data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Create a Series from the 'Age' column in the DataFrame
age_series = df['Age']

# Print the DataFrame
print(df)
print('---')
# Print the Series
print(age_series)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
---
0    25
1    30
2    27
Name: Age, dtype: int64

# Q5. Ans

Pandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions include:

head(): Returns the first n rows of the DataFrame. It is useful for quickly inspecting the data.

In [8]:
df.head(5)  # Returns the first 5 rows of the DataFrame

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [9]:
# tail(): Returns the last n rows of the DataFrame. It is useful for quickly inspecting the end of the data.

df.tail(3)  # Returns the last 3 rows of the DataFrame

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [10]:
# shape: Returns the dimensions (number of rows and columns) of the DataFrame.

rows, columns = df.shape  # Returns the number of rows and columns in the DataFrame

In [12]:
# info(): Provides a summary of the DataFrame, including the data types and non-null values in each column.

df.info()  # Prints information about the DataFrame, such as data types and memory usage

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [13]:
# describe(): Generates descriptive statistics of the DataFrame, such as count, mean, min, max, etc.

df.describe()  # Generates descriptive statistics of the DataFrame

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

In [14]:
# sort_values(): Sorts the DataFrame based on one or more columns.

df.sort_values('Age')  # Sorts the DataFrame based on the 'Age' column in ascending order

     Name  Age  Gender
0   Alice   25  Female
2  Claire   27  Female
1     Bob   30    Male

In [15]:
# drop(): Drops specified rows or columns from the DataFrame.

df.drop(['column1', 'column2'], axis=1)  # Drops 'column1' and 'column2' from the DataFrame along the column axis

KeyError: "['column1', 'column2'] not found in axis"

In [16]:
# groupby(): Groups the DataFrame by one or more columns and performs aggregate functions.

df.groupby('Category')['Price'].mean()  # Groups the DataFrame by 'Category' and calculates the mean of 'Price' for each group

KeyError: 'Category'

In [17]:
# apply(): Applies a function to each element or column of the DataFrame.

df['Age'].apply(lambda x: x + 1)  # Adds 1 to each value in the 'Age' column

0    26
1    31
2    28
Name: Age, dtype: int64

# Q6. Ans

Among the options provided (Series, DataFrame, Panel), both Series and DataFrame are mutable in nature.

In Pandas:

A Series is a one-dimensional labeled array that can hold any data type. It is mutable, meaning you can modify the values of individual elements in a Series.

A DataFrame is a two-dimensional labeled data structure with columns of potentially different data types. It is also mutable, allowing you to modify individual elements, add or remove columns, and perform various other operations on the DataFrame.

However, the Panel data structure has been deprecated in recent versions of Pandas and is no longer recommended for use. It was a three-dimensional data structure that could hold multiple DataFrames. Since it is no longer actively maintained, it is not relevant to consider its mutability.

# Q7. Ans

To create a DataFrame using multiple Series, you can pass the Series objects as a dictionary to the pd.DataFrame() function in Pandas. Each Series will represent a column in the resulting DataFrame. Here's an example:

In this example, we first create three separate Series objects: name_series, age_series, and gender_series. Each Series represents a column in the desired DataFrame.

Next, we create a dictionary data where the keys represent the column names ('Name', 'Age', 'Gender') and the values are the respective Series objects.

We then pass the data dictionary to the pd.DataFrame() function to create the DataFrame. The resulting DataFrame df will have three columns based on the provided Series.

Finally, we print the DataFrame using print(df) to display the complete DataFrame with the column names and the corresponding values from each Series.

In [18]:
import pandas as pd

# Create the Series objects
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Create the DataFrame using the Series
data = {'Name': name_series, 'Age': age_series, 'Gender': gender_series}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female